body, html {
    height: 100%;
    margin: 0;
    font-family: 'Gotham Medium',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-image: url("../images/homepage/profile_bg.jpg");  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;  
}

.profileData{
    position: absolute;
    margin: 20px;
    width: 90%;
  }
  
.container {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}