body, html {
    height: 100%;
    margin: 0;
}

#homepage{
    background-image: url("../images/homepage.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navContainer {
    position: absolute;
    margin: 20px;
    width: 90%;
 
  }
  
  .topnav {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

  }
  .topnav a {
    font-family: 'Gotham Medium',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }